.content {
	border:1px solid red;
	width:80%;
	margin:auto;
}
/* 
	menu-bar 
*/
.menu-bar {
	width:100%;
	margin-top:0;
	padding:21px;
	background-color:#f6bd22;
	display:inline-block;
	text-align:center;
}
.menu-bar >a {
	text-decoration:none;
	color:black;
	margin:0 2px;
	font-size:12px;
}
.menu-bar >a:first-child {
	font-size:13px;
	font-weight:bold;
}
.p >p {
	text-align:center;
	font-size:12px;
}

/* 
	content 
*/
.menu {
	border:1px solid blue;
	width:80%;
	margin:auto;
}
.menu >img {
	width:200px; height:200px;
	display:inline-block;
	text-align:center;
}