
* {
	margin:0;
	font-family: '맑은 고딕';
}
.content {
	width:80%;
	margin:auto;
}

/************	메뉴소개	************/
/*
	menu-bar 
*/
.menu-bar, .sub-menu-bar {
	width:100%;
	margin-top:0;
	padding:15px;
	display:inline-block;
	text-align:center;
	background-color:#f6bd22;
}
.menu-bar >a {
	text-decoration:none;
	color:black;
	margin:0 2px;
	font-size:12px;
}
.menu-bar >a:first-child {
	font-size:13px;
	font-weight:bold;
}
.menu-bar >a>label {
	cursor:pointer;
}
.sub-menu-bar {
	background-color:#FDE488;
}
.sub-menu-bar a{
	text-decoration:none;
	color:black;
	margin:0 2px;
	font-size:12px;
}
.sub-menu-bar >a>label {
	cursor:pointer;
}
.star1 {
	color:#FF6833;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.star2 {
	color:#f6bd22;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.p1, .p2 {
	text-align:center;
	padding-top: 15px;
	font-size:12px;
	color:blue;
}
.p2 {
	padding-bottom: 15px;
	color:gray;
}
/* 
	menu 
*/
.menu-content {
	width:80%;
	margin:auto;
	padding:20px 0;
	
}
/*메뉴 이미지 애니메이션 넣기 */
.owl-stage {
	display:inline-block;
	margin-left: 60px;
}
.owl-item{
	z-index:0;
	display: block;
	float: left;
	position: relative;
}
.owl-item>div{
	position: relative;
	overflow: hidden;
	margin: 12px;
	width: 250px;
	height: 250px;
}
.owl-item img {
	height: 100%;
	width: 100% !important;
	z-index: 1;
}
.owl-item>div>span {
	position: absolute;
	z-index: 51;
	background-color: #2b2d2f;
	left:0;
	bottom:0;
	opacity: 0.7;
	height:40%;
	width:100%;
	border: 0px solid red;
	border-radius:0 0 15px 15px;
}
.owl-item>div>div {
	text-align: center;
}
.owl-item>div>div>p {
	position: absolute;
	color:white;
	font-size: 20px;
	z-index: 51;
	left: 50%;
	top: 80%;
	transform: translate(-50%,-50%);
	width: 200px;
	latter-spacing: -1;
}
.owl-item>div>div>a {
	position: absolute;
	z-index: 51;
	left: 50%;
	/**top: 80%;**/
	top: 130%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0);
	color: orange;
	font-size: 15px;
	border-radius: 10px;
	border: 1px solid orange;
	width: 80px;
	height: 25px;
	text-decoration: none;
	padding: 6px;
	/*border: 2px solid red;*/
}	
.owl-item>div>div>div {
	position: absolute;
	z-index: 51;
	left: 50%;
	top: 110%;
	transform:translate(-50%,-50%);
	height: 40px;
	width: 50px;
}  
.owl-item>p {
	position: absolute;
	z-index: 100;
	left: 50%;
	transform:translate(-50%,600%);
	height: 35px;
	width: 120px;
	border: 0px solid red;
	border-radius: 10px;
	background-color: orange;
	color: white;
	padding-top: 5px;
	font-size: 13px;
	letter-spacing: -1;
}

/* 
	menu-information
*/
.menu-information-body {
	text-align:center;
	padding-top:30px;
}
.menu-information {
	width:80%;
	margin:auto;
	display:inline-block;
}
.menu-left {
	/*border:1px solid red;*/
	display:inline-block;
	width:50%; height:550px;
	float:left;
}
.menu-left img {
	width:350px; height:350px;
	padding-top:50px;
}
.menu-right {
	/*border:1px solid blue;*/
	width:48%; height:500px;
	float:left;
	padding-top:50px;
}
.menu-right1 {
	/*border:1px solid red;*/
	height:100px;
	padding-top:40px;
}
.menu-right1 label {
	float:left;
	font-size:35px;
}
.menu-right2 {
	/*border:1px solid red;*/
	height:70px;
	padding-top:5px;
}
.menu-right2 p {
	float:left;
	color:gray;
	font-size:16px;
}
.menu-right3 {
	/*border:1px solid red;*/
	height:30px;
    padding-right:40px;
}
.menu-right3 p {
	float:right;
	color:gray;
	font-size:13px;
}
.menu-right4 {
	/*border:1px solid red;*/
	height:200px;
}
.menu-right4 img {
	width:100%;
}
/************	캠퍼스안내		************/
/*
	nationwide
*/
.nationwide {
	width:80%;
	height:900px;
	margin:auto;
}
.nationwide-top {
	height:16%;
	margin-top:35px;
	text-align:center;
}
.nationwide-top >img {
	width:45px; height:33px;
	margin-bottom:7px;
}
.nationwide-line {
	display:inline-block;
	height:30px;
}
.nationwide-line p {
	width:250px;
	float:left;
	
	position: relative;
	bottom:5px;
	
}
div#before, div#after {
    border-bottom:2px solid #244394;
    width:30px;
    margin-top:7px;
}
div#before {
	float:left;
	margin-left:15px;
}
div#after {
	float:left;
	margin-right:15px;
}
.nationwide-search {
	background-color:#FDE488;
	height: 11%;
	text-align:center;
	margin-bottom:40px;
	border: 2px solid red;
	border: 2px solid #FDE488;
}
.nationwide-search div:first-child {
	display:inline-block;
	padding-top:15px;
	padding-left:15px;
	width: 380px;
}
.nationwide-search div:first-child p {
	width:350px; height:20px;
	margin:auto;
} 
.nationwide-search div:first-child img {
	width:25px; height:20px;
	float:left;
} 
.nationwide-search div:last-child {
	padding-top:10px;
}
.nationwide-search div:last-child >input {
	width:200px;
	margin-left:9px;
}
.table {
	border-top : 3px solid #e9c232;
}
.page {
	/*border:1px solid red;*/
	height:50px;
	text-align:center;
}
/*
	campus-information
*/
.campus-information {
	
}
.information-top {
	/*border:1px solid red;*/
	height:200px;
	text-align:center;
	padding-top:40px;
}
.information-top img {
	width:45px; height:33px;
	margin-bottom:7px;
}
#information {
	height:200px;	
	background-image:url("http://localhost:9000/waffles/images/campus/certification.jpg");
}
#information img{
	/*border:1px solid red;*/
	width:70px; height:70px;
	margin-right:5px;
	float:left;
}
#addr, #tel, #time {
	margin-top:60px;
}
.campus-photo {
	/*border:1px solid red;*/
	clear:left;
	text-align:center;
	margin-bottom:50px;
}
.campus-photo2 {
	display:inline-block;
}
.photo-line {
	/*border:1px solid red;*/
	padding:30px 0;
}
.photo-line p {
	width:110px;
	float:left;
}
div#before, div#after {
    border-bottom:2px solid #244394;
    width:30px;
    margin-top:7px;
}
div#before {
	float:left;
}
div#after {
	float:left;
	margin-right:15px;
}
.campus-img img{
	width:200px; height:200px;
	text-align:center;
}
.btnList {
	text-align:center;
	padding:50px 0;
}
#map{
	/*border:1px solid red;*/
	width:100%; height:300px;
	padding-bottom:30px;
}
/*
	success story
*/
.success-story {
	width:80%;
	margin:auto;
	padding:20px 0;
}
.story-top {
	/*border:1px solid red;*/
	height:130px;
	text-align:center;
}
.story-top >img {
	width:45px; height:30px;
	padding:7px 0;
}
.story-line {
	display:inline-block;
	height:30px;
	margin:10px;
}
.story-line p {
	width:110px;
	float:left;
}
div#before, div#after {
    border-bottom:2px solid #244394;
    width:30px;
    margin-top:7px;
}
div#before {
	float:left;
	margin-left:15px;
}
div#after {
	float:left;
	margin-right:15px;
}
.content {
	text-align: center;
}
.story-list {
	display:inline-block;
	text_align: center;
	padding-right: 60px;
	padding-left: 180px;
}
.story {
	display: inline-block;
	float:left;
	width: 30%;
	margin: 5px 0;
}
.story a {
	text-decoration:none;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.story img, .story label {
	display:block;
	text-align:center;
	width: 100%;
}
.story label {
	font-size:15px;
	font-weight:bold;
	color:#383632;
	padding:10px 0;
}
.story img {
	width: 350px;
	height: 270px;
	margin: 0 auto;
}
.campus-list>table>tbody>tr>td>a {
	text-decoration:none;
	color: black;
}


/*
	story-view
*/
.story-top {
	/*border:1px solid red;*/
	height:130px;
	text-align:center;
}
.story-top >img {
	width:45px; height:30px;
	padding:7px 0;
}
.story-view {
/* border : 1px solid green; */
	width : 80%;
	margin : auto;
	margin-top : 50px;
	margin-bottom : 50px;
	text-align : center;
}
.story-view>section {
	/*border : 1px solid red; */
	width : 90%;
	margin : auto;	
}
.story-view>section:first-child>div.title {
	font-size : 40px;
	font-weight : 400;
}
.story-view>section:first-child>div.line {
	background-color : rgb(213, 169, 18);
	margin : 20px 0;
	height : 2px;
}
.story-view form>h3 {
	text-align : left;
	margin: 8px 0 0 10px;
}
.story-view form>div:nth-child(2) {
	text-align : left;
	margin : 8px 0 15px 10px;
}

.story-view form>div:nth-child(4) {
	text-align : left;
	margin : 30px 0;
}
.btn-story-list {
	margin : 50px 2px;
	background-color : rgb(56, 54, 50);
	width : 14%;
	font-size : 16px;
	font-weight : 700;
	border : 1px solid rgb(56, 54, 50);
	border-radius : 7px;
	color : white;
	height : 40px;
}







