
* {
	margin:0;
	font-family: '맑은 고딕';
}
.content {
	border:1px solid red;
	width:80%;
	margin:auto;
	padding-bottom:50px;
}

/************	메뉴소개	************/
/*
	menu-bar 
*/
.menu-bar, .sub-menu-bar {
	width:100%;
	margin-top:0;
	padding:15px;
	display:inline-block;
	text-align:center;
	background-color:#f6bd22;
}
.menu-bar >a {
	text-decoration:none;
	color:black;
	margin:0 2px;
	font-size:12px;
}
.menu-bar >a:first-child {
	font-size:13px;
	font-weight:bold;
}
.menu-bar >a>label {
	cursor:pointer;
}
.sub-menu-bar {
	background-color:#FDE488;
}
.sub-menu-bar a{
	text-decoration:none;
	color:black;
	margin:0 2px;
	font-size:12px;
}
.sub-menu-bar >a>label {
	cursor:pointer;
}
.star1 {
	color:#FF6833;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.star2 {
	color:#f6bd22;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.p1, .p2 {
	text-align:center;
	padding-top: 15px;
	font-size:12px;
	color:blue;
}
.p2 {
	padding-bottom: 15px;
	color:gray;
}
/* 
	menu 
*/
.menu-content {
	border:1px solid blue;
	width:80%;
	margin:auto;
	padding:20px 0;
	
}
/*메뉴 이미지 애니메이션 넣기 */
.owl-stage {
	display:inline-block;
}
.owl-item{
	z-index:0;
	position: relative;
	float:left;
	padding:22px 0 22px 22px;
}
.owl-item>div{
	position: relative;
	overflow: hidden;
}
.indexMenu>div>div{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.owl-item img {
	height: 100%;
	position: relative;
	z-index: 1;
}
.owl-item>div>span {
	position: absolute;
	z-index: 51;
	background-color: #2b2d2f;
	left:0;
	bottom:0;
	opacity: 0.7;
	height:40%;
	width:100%;
	border: 0px solid red;
	border-radius:0 0 15px 15px;
}
.owl-item>div>div {
	text-align: center;
}
.owl-item>div>div>p {
	position: absolute;
	color:white;
	font-size: 20px;
	z-index: 51;
	left: 50%;
	top: 75%;
	transform: translate(-50%,-50%);
	width: 200px;
	latter-spacing: -1;
}
.owl-item>div>div>a {
position: absolute;
	z-index: 51;
	left: 50%;
	/**top: 80%;**/
	top: 130%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0);
	color: orange;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid orange;
	width: 80px;
	height: 35px;
	padding-bottom: 10px;
}	
.owl-item>div>div>div {
	position: absolute;
	z-index: 51;
	left: 50%;
	top: 110%;
	transform:translate(-50%,-50%);
	height: 40px;
	width: 50px;
}  
.owl-item>p {
	position: absolute;
	z-index: 100;
	left: 50%;
	transform:translate(-50%,600%);
	height: 35px;
	width: 120px;
	border: 0px solid red;
	border-radius: 10px;
	background-color: orange;
	color: white;
	padding-top: 5px;
	font-size: 13px;
	letter-spacing: -1;
}

/* 
	menu-information
*/
.menu-information-body {
	text-align:center;
}
.menu-information {
	width:80%;
	margin:auto;
	display:inline-block;
}
.menu-left {
	display:inline-block;
	border:1px solid red;
	width:50%; height:550px;
	float:left;
}
.menu-left img {
	width:350px; height:350px;
	padding-top:100px;
}
.menu-right {
	border:1px solid blue;
	width:48%; height:550px;
	float:left;
}
.menu-right1 {
	border:1px solid red;
	height:150px;
}
.menu-right2 {
	border:1px solid red;
	height:150px;
	clear:left;
}
.menu-right3 {
	border:1px solid red;
	height:20px;
}
.menu-right4 {
	border:1px solid red;
	height:200px;
}
/************	캠퍼스안내		************/
/*
	nationwide
*/
.nationwide {
	width:80%;
	height:900px;
	margin:auto;
}
.nationwide-top {
	height:16%;
	margin-top:35px;
	text-align:center;
}
.nationwide-top >img {
	width:45px; height:37px;
	margin-bottom:7px;
}
.nationwide-line {
	display:inline-block;
	height:30px;
}
.nationwide-line p {
	width:210px;
	float:left;
}
div#before, div#after {
    border-bottom:2px solid #244394;
    width:30px;
    margin-top:7px;
}
div#before {
	float:left;
	margin-left:15px;
}
div#after {
	float:left;
	margin-right:15px;
}
.nationwide-search {
	background-color:#FDE488;
	height:10%;
	text-align:center;
}
.nationwide-search div:first-child {
	display:inline-block;
	padding-top:15px;
}
.nationwide-search div:first-child img {
	width:25px; height:20px;
	float:left;
} 
.nationwide-search div:first-child p {
	width:300px; height:20px;
	margin:auto;
} 
.nationwide-search div:last-child {
	padding-top:10px;
}
.nationwide-search div:last-child >input {
	width:200px;
	margin-left:9px;
}
.campus-list >tr:first-child {
	border-top : 2px solid #e9c232;
}
.page {
	border:1px solid red;
	height:50px;
	text-align:center;
}
/*
	campus-information
*/
.campus-information {
	
}
.information-top {
	border:1px solid red;
	height:130px;
	text-align:center;
}
.information-top img {
	width:45px; height:40px;
	padding:7px 0;
}
#information {
	height:200px;	
	background-image:url("http://localhost:9000/waffles/images/campus/certification.jpg");
}
#information img{
	border:1px solid red;
	width:70px; height:70px;
	margin-right:5px;
	float:left;
}
#addr, #tel, #time {
	margin-top:60px;
}
.campus-photo {
	border:1px solid red;
	clear:left;
	text-align:center;
	margin-bottom:50px;
}
.campus-photo2 {
	display:inline-block;
}
.photo-line {
	border:1px solid red;
	padding:30px 0;
}
.photo-line p {
	width:110px;
	float:left;
}
div#before, div#after {
    border-bottom:2px solid #244394;
    width:30px;
    margin-top:7px;
}
div#before {
	float:left;
}
div#after {
	float:left;
	margin-right:15px;
}
.campus-img img{
	width:200px; height:200px;
	text-align:center;
}
.btnList {
	text-align:center;
	margin-bottom:20px;
}
#map{
	border:1px solid red;
}
/*
	success story
*/
.success-story {
	width:80%;
	margin:auto;
}
.story-top {
	border:1px solid red;
	height:130px;
	text-align:center;
}
.story-top >img {
	width:45px; height:30px;
	padding:7px 0;
}
.story-line {
	display:inline-block;
	height:30px;
}
.story-line p {
	width:110px;
	float:left;
}
div#before, div#after {
    border-bottom:2px solid #244394;
    width:30px;
    margin-top:7px;
}
div#before {
	float:left;
	margin-left:15px;
}
div#after {
	float:left;
	margin-right:15px;
}

.story-list {
	border:1px solid red;
	width:80%;
	margin:auto;
	
}
/*
	
*/

