* {
	margin:0;
	font-family:'맑은 고딕';
}
.content {
	border:1px solid red;
	margin:auto;
}

/******************
    footer
**/
footer {
	background-image:url("http://localhost:9000/waffles/images/footer/foot_bg01.jpg");
	text-align: center;
	margin:0;
	padding:0;
}

footer>div:nth-child(1)>img {
	margin-top: 40px;
}
footer>div:nth-child(2)>img {
	margin-top: 20px;
}
footer>ul:nth-child(3) , ul:nth-child(4){
	list-style-type: none;
	margin:0;
	padding:0;
}
footer>ul:nth-child(3)>li{
	display: inline-block;
	margin:0;
	padding:0;
	font-size: 12px;
	margin-top: 20px;
}
footer>ul:nth-child(3)>li>div {
	display: inline-block;
	height: 10px;
	width: 1px; 
	background-color : rgba(0,0,0,0.3);
}
footer>ul:nth-child(4)>li>div {
	display: inline-block;
	height: 10px;
	width: 1px; 
	background-color : rgba(0,0,0,0.3);
}
footer>ul:nth-child(4)>li {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin-bottom: 20px;
}
footer>div:nth-child(5)>p {
	font-size: 12px; 
	padding-bottom: 40px;
}
/**********************
	index-header
	***/
div#header {
	height: 100vh; width: 100%;
	background:url("http://localhost:9000/waffles/images/index/header/20170917162535_h.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
div#header>p {
	padding-top: 50px;
	text-align: center;
}
div#header>div#headbtn {
	text-align: right;
	padding-right: 50px;
	position: absolute;
	top: 85px;
	right: 0px;
}
div#header>div#headbtn>button {
	height: 28px;
	border-radius: 5px;
	font-size: 13px;
	color: white;
	padding: 0 12px 3px 12px; 
	letter-spacing: -1px;
}
div#header>div#headbtn>button.login_btn {
	border: 1px solid #c59d5f;
	background-color: #c59d5f;
}
div#header>div#headbtn>button.join_btn {
	border: 1px solid #404040;
	background-color: #404040;
}
div#header>div>nav{
	text-align: center;
	padding-top: 40px;
}
div#header>div>nav>ul {
	color: white;
	float: center;
	height: 50px;
	display: inline-block;
	
}
div#header>div>nav>ul>li{
	display: inline-block;
	height: 30px;
	list-style-type: none;
	float: left;
	filter: none;
	height: 20px;
}
div#header>div>nav>ul>li>div{
	padding: 10px 20px 10px 20px;
	font-size: 19px;
	letter-spacing: -1px;
	text-align: left;
}
div#header>div>nav>ul>li>div>a{
	color: white;
	text-decoration: none;
}
div#header>div>div.mainLabel{
	text-align: center;
	color: white;
	padding-top: 17vh;
}
div#header>div>div.mainLabel>p:nth-child(2) {
	font-weight: 900;
	font-size: 45px;
	letter-spacing: -1px;
	padding-top: 10px;
}
div#header>div>div.mainLabel>p:nth-child(3) {
	font-size: 15px;
	padding: 15px;
	}
#sub-menu {
	border : 1px solid #2c2c2c;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #4b280a; 
	position: absolute;
	font-weight: 700;
	display: none;
}
#sub-menu>li#topdeco {
	background: #c68a12;
	height: 2px;
	width: 200px;
	padding: 0 10px 0 10px;
	margin: 0;
}
#sub-menu li {
	margin: 0;
	padding: 10px;
	width: 200px;
	text-align: left;
}
#sub-menu li a {
	text-decoration: none;
	color: #a9a9a9;
	font-size: 14px;
}
/**********************
	index-mid
	***/
section.index>div.indexMid {
	position: relative;
	height: 700px;
	margin-top: 80px;
}
section.index>div.indexMid>div:nth-child(1){
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 52.5%;
}
section.index>div.indexMid>div:nth-child(1)>img{
	max-width: 100%; 
	height: auto; 
	border:0px solid red; 
	border-radius: 20px;
	padding: 0px; 
}
section.index>div.indexMid>div:nth-child(2){
	border:0px solid red; 
	border-radius: 20px;
	position: absolute;
	right: 52.5%; 	
	bottom: 40px;
	background-color: brown;
	color: white;
	width: 484px;
}
section.index>div.indexMid>div:nth-child(2)>div{
	padding: 20px;
}
section.index>div.indexMid>div:nth-child(2)>div>span{
	display: inline-block;
	margin-bottom: 7px;
	font-size: 25px;
	letter-spacing: -1px;
}
section.index>div.indexMid>div:nth-child(2)>div>div {
	display: inline-block;
	position: absolute;
	right: 20px;
}
section.index>div.indexMid>div:nth-child(2)>div>div>a {
	text-decoration: none;	
	color: white;
}
section.index>div.indexMid>div:nth-child(2)>div>ul {
	list-style-type: none;
	padding-left: 0px;
}
section.index>div.indexMid>div:nth-child(2)>div>ul>li {
	padding: 3px 0;
}
section.index>div.indexMid>div:nth-child(2)>div>ul>li>a {
	text-decoration: none;
	color: white;
}
section.index>div.indexMid>div:nth-child(3){
	position: absolute;
	left: 48.7%;
	top: 20px;
	border:0px solid red; 
	border-radius: 20px;
}
section.index>div.indexMid>div:nth-child(3){
	background:url("http://localhost:9000/waffles/images/index/section/floorimage.jpg");
	border:0px solid red; 
	border-radius: 20px;
	width: 675px;
	height: 268px;
	padding: 0px; 
}
section.index>div.indexMid>div:nth-child(3)>p:nth-child(1){
	color: white;
	font-size: 45px;
	padding: 10px 0 0 25px;	
}
section.index>div.indexMid>div:nth-child(3)>p:nth-child(2){
	text-align: right;
	color: white;
	padding-top: 120px;
	padding-right: 25px;
	padding-bottom: 7px;
	letter-spacing: -1px;
}
section.index>div.indexMid>div:nth-child(3)>p:nth-child(3){
	text-align: right;
	color: white;
	font-size: 20px;
	font-weight: 700;
	padding-right: 25px;
	letter-spacing: -1px;
	
}
section.index>div.indexMid>div:nth-child(4){
	border:0px solid red; 
	border-radius: 20px;
	position: absolute;
	left: 48.7%; 	
	bottom: 10px; 	
	width: 675px;
	height: 360px;
	bottom: 40px;
	background:url("http://localhost:9000/waffles/images/index/section/blog_bg.jpg");
}
section.index>div.indexMid>div:nth-child(4)>ul{
	text-align: left;
	padding:0;
	padding-left: 15px;
	margin-top: 60px;
}
section.index>div.indexMid>div:nth-child(4)>ul>li{
	list-style-type: none;
	background-color: white;
	width: 645px;
	height: 120px;
	margin:0;
	
}
section.index>div.indexMid>div:nth-child(4)>ul>li>img{
	padding: 20px;
}
section.index>div.indexMid>div:nth-child(4)>ul>li:first-child>img{
	padding-top: 30px;
}
section.index>div.indexMid>div:nth-child(4)>ul>li>div{
	text-align: right;
	display: inline-block;
}
section.index>div.indexMid>div:nth-child(4)>ul>li>div>p{
	position: relative;
	text-align: left;
	width: 450px;
	padding: 10px;
	padding-top: 0;
	bottom: 34px;
}
section.index>div.indexMid>div:nth-child(4)>ul>li:nth-child(2) {
	height:30px;
	margin:0;
	padding:0;
}
section.index>div.indexMid>div:nth-child(4)>ul>li:nth-child(2)>div{
	background-color:rgba(0,0,0,0.2); 
	width:100%; height:1px;
	margin:0;
	padding:0;
}
section.index>div.indexMid>div:nth-child(4)>ul>li>div>p:nth-child(1){
	font-size: 17px;
	font-weight: 700;
}
section.index>div.indexMid>div:nth-child(4)>ul>li>div>p:nth-child(2){
	font-size: 14px;
	letter-spacing: -1;
}
section.index>div.indexMenu{
	margin-top: 150px;
}
section.index>div.indexMenu>div {
	text-align: center;
}
section.index>div.indexMenu>div>img{
	padding: 20px;
}
section.index>div.indexMenu>div>div{
	padding: 20px;
}
section.index>div.indexMenu>div>div>a {
	text-decoration: none;
}
section.index>div.indexMenu>div>ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-top: 20px;
}
section.index>div.indexMenu>div>ul>li{
	text-align: left;
	display: inline-block;
	padding: 0 10px;
}
section.index>div.indexMenu>div>ul>li>img{
	display: inline-block;
	width: 250px;
	height: 250px;	
}
section.index>div.indexBot{
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
}
section.index>div.indexBot>div{
	display: inline-block;
	width: 600px; height: 400px;
	margin: 10px;
}
section.index>div.indexBot>div#p1{
	background: url("http://localhost:9000/waffles/images/index/section/changbg.jpg");
	border: 0px solid red;
	border-radius: 15px;
}
section.index>div.indexBot>div#p1>p{
	color: white;
}
section.index>div.indexBot>div#p1>p:nth-child(1){
	font-size: 35px;
	padding-top: 25%;
}
section.index>div.indexBot>div#p1>p:nth-child(2){
	padding-top: 10px;;
	
}
section.index>div.indexBot>div#p2{
	position: relative;
	top: 28px;
	background: url("http://localhost:9000/waffles/images/index/section/campbg.jpg");
	border: 0px solid red;
	border-radius: 15px;
}
section.index>div.indexBot>div#p2>p{
	color: white;
}
section.index>div.indexBot>div#p2>p:nth-child(1){
	font-size: 35px;
	padding-top: 23%;
}
section.index>div.indexBot>div#p2>div{
	padding-top: 5px;
}
section.index>div.indexBot>div#p2>div>input{
	padding:10px 0 10px 10px;
	width: 220px;
	height: 20px;
}
section.index>div.indexBot>div#p2>div>input:focus {
	outline: none;	
}
section.index>div.indexBot>div#p2>div>a{
	position: relative;
	top: 15.98px;
	right:6px;
}
section.index>div.indexBot>div#p2>div>a>img{
	width:20px;
	height:22.5px;
	background-color: orange;
	padding: 10px;
	
}






/**********************
	sayHello
	***/
section.sayHello div:nth-child(1){
	text-align: center;
	margin-top: 50px;
}
section.sayHello div:nth-child(2){
	text-align: center;
	margin-bottom: 100px;
}
/***********************
	brand
	***/      
section.brand>div{
	text-align: center;	
}
section.brand>div:nth-child(1){
	text-align: center;
	margin-top: 50px;
}
section.brand>div:nth-child(2){
	margin-top : 20px;
	margin-bottom : 30px;
}
section.brand>div:nth-child(2)>button{
	border: 1px solid black;
	background-color: black;
	border-radius: 10px;
	display: inline-block;
	width: 220px; height: 40px;
	font-size: 15px;
	color: white;
	font-weight: 900;
} 
section.brand>div:nth-child(3){
	margin-top : 70px;
	margin-bottom : 70px;
}
section.brand>div:nth-child(4){
	margin-top : 60px;
	margin-bottom : 80px;
}
section.brand>div:nth-child(5){
	margin-top : 60px;
	margin-bottom : 60px;
}
section.brand>div:nth-child(6){
	margin-top : 60px;
	margin-bottom : 60px;
}
section.brand>div>div {
	display: inline-block;
	background-color: rgba(0,0,0,0.3);
	width: 1200px; height: 1px;
	margin-top: 100px;
}
section.brand>div>div.lastLine {
	display: inline-block;
	background-color: rgba(0,0,0,0.3);
	width: 1200px; height: 1px;
	margin-top: 50px;
}
/**********************
	union
	***/
section.union>div {
	text-align: center;
	margin: 45px;
}
/**********************
	map
	***/
section.map>div {
	text-align: center;
}
section.map>div:first-child {
	margin: 50px;
}
section.map>div:last-child {
	margin-top: 100px;
	margin-bottom: 40px;
}

	



