
* {
	margin:0;
	font-family: '맑은 고딕';
}


.content {
	border:1px solid red;
	width:80%;
	margin:auto;
}

/******************
    header
**/
header {
	height: 250px;
	background:url("http://localhost:10000/waffles/images/header/sub_visual01.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
header>div>nav>ul {
	color: white;
	float: right;
	
}
header>div>nav>ul>li {
	/*border: 2px solid red;*/
	list-style-type: none;
	float: left;
	margin-top: 20px;
	filter: none;
	height: 20px;
}
header>div>nav>ul>li>div {
	padding: 10px 20px 10px 20px;
	font-size: 19px;
	letter-spacing: -1px;
	text-align: center;
}
header>div>nav>ul>li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4),li:nth-child(5) {
	margin-top: 23px;
} 
header>div>nav>ul>li>div>button {
	height: 28px;
	border-radius: 5px;
	font-size: 13px;
	color: white;
	padding: 0 12px 3px 12px; 
	letter-spacing: -1px;
}
header>div>nav>ul>li>div>button.login_btn {
	border: 1px solid #c59d5f;
	background-color: #c59d5f;
	margin-right:-15px;
}
header>div>nav>ul>li>div>button.join_btn {
	border: 1px solid #404040;
	background-color: #404040;
	margin-left:-15px;
}

header img {
	margin: 35px;
	margin-bottom:0;
	margin-top: 25px;
}

header>div>div>p.p1 {
	text-align: center;
	color: white;
	font-size: 45px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	letter-spacing: -2px;
}
header>div>div>p.p2 {
	float: right;
	color: white;
	padding-right: 500px;
}
#sub-menu {
	border : 1px solid #2c2c2c;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #4b280a; 
	position: absolute;
	font-weight: 700;
	display: none;
}
#sub-menu>li#topdeco {
	background: #c68a12;
	height: 2px;
	width: 200px;
	padding: 0 10px 0 10px;
	margin: 0;
}
#sub-menu li {
	margin: 0;
	padding: 10px;
	width: 200px;
}
#sub-menu li a {
	text-decoration: none;
	color: #a9a9a9;
	font-size: 14px;
}



/****************** 
	menu-bar 
**/
.menu-bar, .sub-menu-bar {
	width:100%;
	margin-top:0;
	padding:15px;
	display:inline-block;
	text-align:center;
	background-color:#f6bd22;
}
.menu-bar >a {
	text-decoration:none;
	color:black;
	margin:0 2px;
	font-size:12px;
}
.menu-bar >a:first-child {
	font-size:13px;
	font-weight:bold;
}
.menu-bar >a>label {
	cursor:pointer;
}
.sub-menu-bar {
	background-color:#FDE488;
}
.sub-menu-bar a{
	text-decoration:none;
	color:black;
	margin:0 2px;
	font-size:12px;
}
.sub-menu-bar >a>label {
	cursor:pointer;
}
.star1 {
	color:#FF6833;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.star2 {
	color:#f6bd22;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.p1, .p2 {
	text-align:center;
	padding-top: 15px;
	font-size:12px;
	color:blue;
}
.p2 {
	padding-bottom: 15px;
	color:gray;
}
/* 
	all_menu - content 
*/
.menu {
	border:1px solid blue;
	width:80%;
	margin:auto;
}
.menu >img {
	width:200px; height:200px;
	display:inline-block;
	text-align:center;
	color:#333; 
}
.hover:hover {
	transition:all 0.9s, color 0.3;
	box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}
.hover {
	width:200px; height:200px;
	
}
/* 
	waffle - content 
*/
.menu-detail-body {
	text-align:center;
}
.menu-detail {
	width:80%;
	margin:auto;
	display:inline-block;
}
.menu-left {
	display:inline-block;
	border:1px solid red;
	width:50%; height:550px;
	float:left;
	
}
.menu-right {
	border:1px solid blue;
	width:48%; height:550px;
	float:left;
}
.menu-right1 {
	border:1px solid red;
	height:150px;
}
.menu-right2 {
	border:1px solid red;
	height:150px;
}
.menu-right3 {
	border:1px solid red;
	height:200px;
}









