* {
	margin:0;
	font-family: '맑은 고딕';
}
.content {
	border:1px solid red;
	width:80%;
	margin:auto;
}

/******************
    header
**/
header {
	height: 250px;
	background:url("http://localhost:9000/waffles/images/header/sub_visual01.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
header>div>nav>ul {
	color: white;
	float: right;
	
}
header>div>nav>ul>li{
	/*border: 2px solid red;*/
	list-style-type: none;
	float: left;
	margin-top: 20px;
	filter: none;
	height: 20px;
}
header>div>nav>ul>li>div{
	padding: 10px 20px 10px 20px;
	font-size: 19px;
	letter-spacing: -1px;
	text-align: center;
}
header>div>nav>ul>li>div>a{
	color: white;
	text-decoration: none;
}
header>div>nav>ul>li:nth-child(1),header>div>nav>ul>li:nth-child(2),header>div>nav>ul>li:nth-child(3),header>div>nav>ul>li:nth-child(4),header>div>nav>ul>li:nth-child(5) {
	margin-top: 23px;
} 
header>div>nav>ul>li>div>button {
	height: 28px;
	border-radius: 5px;
	font-size: 13px;
	color: white;
	padding: 0 12px 3px 12px; 
	letter-spacing: -1px;
}
header>div>nav>ul>li>div>button.login_btn {
	border: 1px solid #c59d5f;
	background-color: #c59d5f;
	margin-right:-15px;
}
header>div>nav>ul>li>div>button.join_btn {
	border: 1px solid #404040;
	background-color: #404040;
	margin-left:-15px;
}

header img {
	margin: 35px;
	margin-bottom:0;
	margin-top: 25px;
}

header>div>div>p.mainLabel{
	text-align: center;
	color: white;
	font-size: 45px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	letter-spacing: -2px;
	margin-top: 15px;
}
header>div>div>p.subLabel{
	float: right;
	color: white;
	padding-right: 480px;
	font-size : 12px;
	margin-top: 20px;
}
#sub-menu {
	border : 1px solid #2c2c2c;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #4b280a; 
	position: absolute;
	font-weight: 700;
	display: none;
}
#sub-menu>li#topdeco {
	background: #c68a12;
	height: 2px;
	width: 200px;
	padding: 0 10px 0 10px;
	margin: 0;
}
#sub-menu li {
	margin: 0;
	padding: 10px;
	width: 200px;
}
#sub-menu li a {
	text-decoration: none;
	color: #a9a9a9;
	font-size: 14px;
}
/******************
    footer
**/
footer {
	background-image:url("http://localhost:9000/waffles/images/footer/foot_bg01.jpg");
	text-align: center;
	margin:0;
	padding:0;
}

footer>div:nth-child(1)>img {
	margin-top: 40px;
}
footer>div:nth-child(2)>img {
	margin-top: 20px;
}
footer>ul:nth-child(3) , ul:nth-child(4){
	list-style-type: none;
	margin:0;
	padding:0;
}
footer>ul:nth-child(3)>li{
	display: inline-block;
	margin:0;
	padding:0;
	font-size: 12px;
	margin-top: 20px;
}
footer>ul:nth-child(3)>li>div {
	display: inline-block;
	height: 10px;
	width: 1px; 
	background-color : rgba(0,0,0,0.3);
}
footer>ul:nth-child(4)>li>div {
	display: inline-block;
	height: 10px;
	width: 1px; 
	background-color : rgba(0,0,0,0.3);
}
footer>ul:nth-child(4)>li {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin-bottom: 20px;
}
footer>div:nth-child(5)>p {
	font-size: 12px; 
	padding-bottom: 40px;
}
